<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moat279.ttp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ttpicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectionScreen"
            android:label="@string/title_activity_selection_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MentorSection"
            android:label="@string/title_activity_mentor_section"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoTut"
            android:label="@string/title_activity_video_tut"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LessonTut"
            android:label="@string/title_activity_lesson_tut"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TTPwebsite"
            android:label="@string/title_activity_ttpwebsite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".News"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JobPostings"
            android:label="@string/title_activity_job_postings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoTutorials"
            android:label="@string/title_activity_video_tutorials"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TutorialLessonSection"
            android:label="@string/title_activity_tutorial_lesson_section"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>